<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ID Converter</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>PA ID Converter</h2>
  <form  action="{{ url_for('input') }}" method="post">
    {{ form.csrf }}
    <div class="form-group">
      <label for="name">String to convert:</label>
      <textarea type="textarea" class="form-control" id="name" rows="10" name="name" placeholder="Six character strings will be converted and displayed"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
  <div class="row">
        <div class="col-md-4">

 
                {% if updated %}
                <div class="alert alert-success">
                  {% for x in updated %}
                    {{x}}<br>
                  {% endfor %}
                </div>
                {% endif %}


        </div>

        <div class="col-md-4">
          {% if already %}
            <div class="alert alert-danger">
            {{already}}<br><br>
            {% for x in alreadyconv %}
              {{x}}<br>
            {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-md-4">
          <form>{{ form.letter }}</form>
                {% if letters %}
                <div class="alert alert-info">
                  <h1>Select any Non Words:</h1>
                  <form  action="{{ url_for('fix') }}" method="post">
                    <label for="letter"></label>
                  {% for x in zipper %}
                    <input type="checkbox" id="{{x.0}}" name="letter" value="{{x.0}}">
                    <label for="{{x.0}}">{{x.1}}</label><br>
                  {% endfor %}
                  <button type="submit" class="btn btn-success">Submit</button>
                  </form>
                </div>
                {% endif %}
        </div>
        {% if final %}
        <div class="alert alert-success">
          <h1>Updated:</h1>
        {% for x in final %}
        {{x}}<br>
        {% endfor %}
        </div>
        {% endif %}
      </div>
</div>
<br>      
</div>
</div>
</body>
</html>